#map.in-group {
	border: 2px solid grey;
	margin: 0 30px;
	width: 100%;
	max-width: 950px;
	height: 90vh;
	max-height: 700px;
	
}
.single-map #map {
	height: 100vh;	
}
.single-map {
	margin: 0;
}
#googleform {
	margin: 0 30px;
	width: 100%;
	max-width: 700px;
}
.leaflet-control-coordinates {
	background: white;
	border-radius: 4px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
	cursor: pointer;
	padding: 2px 5px;
}

.leaflet-control-coordinates.hidden {
	display: none;
}

.leaflet-control-coordinates-lng {
	padding-left: 5px;
}
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}

button ::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.copy-button.active{
	background-color: #5993f5;
	color: #fff;
}
.copy-button, .coord-input {
    background-color: #f0f0f0;
       border: 1px solid rgb(0, 0, 0);
       border: 1px solid rgba(0, 0, 0, 0.1);
       border-radius: 0.25em;
       height: 2.5em;
       line-height: 2.5;
       margin: 0.25em;
       padding: 0 1em;
}

.coord-input:focus {
	outline: 0;
} 
.cityBtn {
    background-color: #5993f5;
	color: #fff;
       border: 1px solid rgb(0, 0, 0);
       border: 1px solid rgba(0, 0, 0, 0.1);
       border-radius: 0.25em;
       margin: 2px;
       padding: 1px 2px;
}
.comp-label-tooltip{
	background: none;
	border: none;
	box-shadow: none;
	color:#8934d8;
	/*font-weight: bold;*/
}
.home-tooltip{

}
.leaflet-tooltip-pane div:after, .leaflet-tooltip-pane div:before {
	display: none;
}

.custom-popup .leaflet-popup-content-wrapper {
    background:#2c3e50;
    color:#fff;
    font-size:16px;
    line-height:24px;
    border-radius: 0px;
    }
  .custom-popup .leaflet-popup-content-wrapper a {
      color:rgba(255,255,255,0.1);
    }
  .custom-popup .leaflet-popup-tip-container {
    width:30px;
    height:15px;
    }
  .custom-popup .leaflet-popup-tip {
      background: transparent;
      border: none;
      box-shadow: none;
    }